<!-- store/templates/store/edit_music.html -->
{% extends 'store/base.html' %}
{% load static %}

{% block title %}Редактировать Музыку{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/edit_music.css' %}">
{% endblock %}

{% block content %}
<h2>Редактировать Музыку</h2>
<form class="edit-music-form" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="author" class="form-label">Имя Автора</label>
        <input type="text" class="form-control" id="author" name="author" value="{{ song.author }}" required>
    </div>
    <div class="mb-3">
        <label for="songTitle" class="form-label">Название Песни</label>
        <input type="text" class="form-control" id="songTitle" name="songTitle" value="{{ song.title }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}