<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <!-- Логотип -->
            <a class="navbar-brand footer-brand ms-3" href="{% url 'index' %}">Beat Store</a>
            
            <!-- Поисковая строка -->
            <form class="d-flex search-form" role="search">
                <input class="form-control me-2 search-input" type="search" placeholder="Поиск музыки..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
            
            <!-- Кнопки входа и бургер-меню -->
            <div class="navbar-buttons d-flex align-items-center">
                <!-- Кнопка входа -->
                <button id="login-logout" class="auth-btn btn btn-success me-3">Вход</button>
                
                <!-- Кнопка бургер-меню -->
                <button class="navbar-toggler" type="button" 
                        data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" 
                        aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
    
    <!-- Offcanvas меню для мобильных устройств -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="mobileMenuLabel">Меню</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Моя страница</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'music_list' %}">Музыка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Авторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Документы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</header>