{% extends 'store/base.html' %}

{% block title %}Сброс пароля завершен | Beat Store{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
                <h3>Сброс пароля завершен</h3>
            </div>
            <div class="card-body">
                <p>Ваш пароль был успешно изменен.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Вернуться к входу</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}